.Color-Picker {
  position: relative;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .slider-picker {
    width: 50%;
  }
}
